@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');
h1,h2,h3,h4,h5,h6,p,a,li{
    font-family: 'Josefin Sans', sans-serif;

    
}    
#Background{
    background-image: url('background.svg');
}

.LeftSide{
    width: 70%;
    text-align: center;
  
}
#RightSide{
    width: 30%;
}
.Link{
    text-align: right;
    text-decoration: none;

}
#About{
    color: hsl(0, 93%, 68%);
    margin-right: 10px;
    font-weight: 600;
    text-decoration: none;

}

#Home{
    color: hsl(0, 36%, 70%);
    margin-right: 10px;
    font-weight: 600;
    text-decoration: none;
}
#Explore{
    color: hsl(0, 93%, 68%);
    margin-right: 10px;
    font-weight: 600;
    text-decoration: none;
}
#Terms{
    color: hsl(0, 36%, 70%);
    margin-right: 10px;
    font-weight: 600;
    text-decoration: none;

}

#logo{
    width: 175px;
    
}

#FirstHeading{
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    text-align: center;
    
}   
    
#SecondHeading{
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: xx-large;
}  
#ThirdHeading{
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: xx-large;
}   


#FirstLine{
    text-align:center;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    Font-size: 16px;
   
 }
#SecondLine{
    text-align:center;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    Font-size: 16px;
}
#ThirdLine{
    text-align:center;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    Font-size: 16px;
}
#FourthLine{  
    text-align:center;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    Font-size: 16px;

}
#FifthLine{
    text-align:center;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    Font-size: 16px;
}

#SixthLine{
    text-align:center;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    Font-size: 16px;
}

#Email{
    width: 60%;
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 100px;
    background:transparent;
    border-color:hsl(0, 93%, 68%);
    outline: none;
    line-height: 1;
    flex-grow: 2;
}
#Lists{
    text-align: left;
    color: hsl(0, 36%, 70%);
}
.Samples{
    text-align: left;
}


#Heading{
    text-align: center;
}
#Blouse{
    width: 200px;
}
#BlackDress{
    width: 200px;
    margin-left: 15px;
}
#Black{
    width: 200px;
    margin-left: 75px;
}
#Hoodie{
    width: 300px; 
}
#Set{
    width: 300px;
}
#Dress{
    width: 300px;
}
#FlowerSet{
    width: 300px;
}
.Button{
    padding: auto;
    cursor: pointer;
    text-decoration: none;
    background-color: hsl(0, 52%, 90%);
    height: 46px;
    border-radius: 100px;
    width: 10%;
    

    
}








